html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

h1, h3 {
    color: white;
}

hr {
    width: 400px;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bgimg-1 {
    background-image: url("images/backgroundImageCode.jpg");
    min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/backgroundImageCode2.jpg");
  min-height: 400px;
}

.greeting {
    text-align: center;
    padding-top: 15%;
}

.content {
    text-align: center;
    padding: 5% 5%;
}

.content p {
    padding-top: 3%;
}

.jumbotron {
    border-radius: 0;
}